<a href="https://colab.research.google.com/github/vthombare/vthombare/blob/Python_Code/python_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hi Vijay")

Hi Vijay

In [3]:
print("1\n2\n3\n4\n5")

1
2
3
4
5

In [8]:
def SI(pa,t,r):
  return (pa*t*r)/(365*100)

pa=10000
si=SI(10000.0,789,1.3)
total=si+pa
print(round(total,2))

10281.01

In [15]:
def no_of_days(n):
    if n==1:
        return 31
    elif n==2:
        return 28
    elif n==3:
        return 31
    elif n==4:
        return 30
    elif n==5:
        return 31
    elif n==6:
        return 30
    elif n==7:
        return 31
    elif n==8:
        return 31
    elif n==9:
        return 30
    elif n==10:
        return 31
    elif n==11:
        return 30
    elif n==12:
        return 31
    else:
      return "Invalid Input"

op=no_of_days(14)
print(op)

Invalid Input

In [44]:
def no_of_days(n):
  if n>12 or n<=0:
    return "Invalid Input"
  if n==2:
    return 28
  elif n<8:
    if n%2==0:
      return 30
    else:
      return 31
  elif n>=8:
    if n%2==0:
      return 31
    else:
      return 30 

op=no_of_days(12)
print(op)

31

In [5]:
N,M=input().split(" ")
N,M=int(N),int(M)
ch='.|.'

for i in range(0,int(N-(N+1)/2)):
    print(str(ch*(2*i+1)).center(M,'-'))
        
print("WELCOME".center(M,'-'))

for i in range(int(N-(N+1)/2),0,-1):
    print(str(ch*(2*i-1)).center(M,'-'))

20 60
----------------------------.|.-----------------------------
-------------------------.|..|..|.--------------------------
----------------------.|..|..|..|..|.-----------------------
-------------------.|..|..|..|..|..|..|.--------------------
----------------.|..|..|..|..|..|..|..|..|.-----------------
-------------.|..|..|..|..|..|..|..|..|..|..|.--------------
----------.|..|..|..|..|..|..|..|..|..|..|..|..|.-----------
-------.|..|..|..|..|..|..|..|..|..|..|..|..|..|..|.--------
----.|..|..|..|..|..|..|..|..|..|..|..|..|..|..|..|..|.-----
--------------------------WELCOME---------------------------
----.|..|..|..|..|..|..|..|..|..|..|..|..|..|..|..|..|.-----
-------.|..|..|..|..|..|..|..|..|..|..|..|..|..|..|.--------
----------.|..|..|..|..|..|..|..|..|..|..|..|..|.-----------
-------------.|..|..|..|..|..|..|..|..|..|..|.--------------
----------------.|..|..|..|..|..|..|..|..|.-----------------
-------------------.|..|..|..|..|..|..|.--------------------
----------------------.|..|..|..|..|.-----------------------
-------------------------.|..|..|.--------------------------
----------------------------.|.-----------------------------

In [22]:
def solve(A):
  A=set(A)
  A=list(A)
  A.sort()
  
  if len(A)==1:
    return 0
  else:
    return A, (A[len(A)-2])

A = [0,0,1]
op=solve(A)
print(op)

([0, 1], 0)

In [5]:
#a = int(input("Enter number: "))
#print(type(a))

print(bool("abc43243"))

True

In [6]:
a, b = 10, 20
 
print ("Both a and b are equal" if a == b else "a is greater than b"
        if a > b else "b is greater than a")

b is greater than a

In [9]:
for i in range(2):
  print(2)

2
2

In [26]:
for number in range(1, 5) :
  if number == 3:
    exit()
    print(number)
print("Hello")

3
Hello

In [6]:
a=[1,2,3,4,5]
#print(a[3::-1])
print(a)

[1, 2, 3, 4, 5]

In [18]:
a=['data', 'python', 'scaler', 'ML', 'foo', 'Jupyter', 'lists']

#print(a[5::-3])
print(a[:]!=a)

False

In [32]:
for i in range(1):
  for j in range(2):
    for k in range(1):
      print("a", end=" ")
    print(end=" ")
  print("c")

a  a  c

In [44]:
def isPowerOfTwo(n):
    if (n == 0):
        return False
    while (n != 1):
            if (n % 2 != 0):
                return False
            n = n // 2
             
    return True

if(isPowerOfTwo(8)):
    print('Yes')
else:
    print('No')

Yes

In [20]:
A=[1,5,3,4,0,2]

#A[0]= 5,1,31
#A[1]= 2,5,17
#A[2]= 4,3,27
#A[3]= 0,4,4
#A[4]= 1,0,6
#A[5]= 3,2,20

#A[i]=A[A[i]]

for i in range(len(A)):
  v=A[A[i]]
  v1=print(((len(A)*v)+A[i]))
  print(v,v1)
  #A[i]=v1//(len(A))

31
5 None
17
2 None
27
4 None
4
0 None
6
1 None
20
3 None

In [11]:
from ast import Add
#A=[1,5,3,4,0,2]

#A=[0,5,1,4,2,3]
#A=[0,3,5,2,1,4]

A=[9,4,8,6,0,1,5,3,7,2]
print(A)
#A[0]= 5,1,31
#A[1]= 2,5,17
#A[2]= 4,3,27
#A[3]= 0,4,4
#A[4]= 1,0,6
#A[5]= 3,2,20

#A[i]=A[A[i]]

for i in range(len(A)):
  A[i]=(len(A)*A[i])
print(A)

for i in range(len(A)):
  A[i]=A[i]+(A[A[i]//len(A)])//len(A)
print(A)

for i in range(len(A)):
  A[i]=A[i]%len(A)
print(A)

[9, 4, 8, 6, 0, 1, 5, 3, 7, 2]
[90, 40, 80, 60, 0, 10, 50, 30, 70, 20]
[92, 40, 87, 65, 9, 14, 51, 36, 73, 28]
[2, 0, 7, 5, 9, 4, 1, 6, 3, 8]

In [12]:
from ast import Add
#A=[1,5,3,4,0,2]

#A=[0,5,1,4,2,3]
#A=[0,3,5,2,1,4]

A=[9,4,8,6,0,1,5,3,7,2]
print(A)
#A[0]= 5,1,31
#A[1]= 2,5,17
#A[2]= 4,3,27
#A[3]= 0,4,4
#A[4]= 1,0,6
#A[5]= 3,2,20

#A[i]=A[A[i]]

for i in range(len(A)):
  A[i]=(len(A)*A[i])
print(A)

for i in range(len(A)):
  A[i]=(A[A[i]//len(A)])//len(A)

print(A)

[9, 4, 8, 6, 0, 1, 5, 3, 7, 2]
[90, 40, 80, 60, 0, 10, 50, 30, 70, 20]
[2, 0, 7, 5, 0, 0, 0, 0, 0, 0]

In [22]:
a = ['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat', 'me']
print(a[3:4:-1])

[]

In [24]:
str1 = "PYcharm3"
print(str1[1:4],str1[:5],str1[-6:], str1[0:-1], str1[:-1])

Ych PYcha charm3 PYcharm PYcharm

In [36]:
def countuniquewords(inp):
    ans = 0
    arr = list(inp.split())
    for word in arr:
        arr2=[]
        #if len(set(word)) == len(word) and len(word) > 3:
        #if len(tuple(word)) == len(word) and len(word) > 3:
        for i in range(0,len(word)):
          if word[i] not in arr2:
            arr2.append(word[i])
        if len(arr2) == len(word) and len(word)>3:
          ans += 1
  
    return ans

op=countuniquewords("andw myrt simter istyujkl abde tanku")
print(op)

6

In [41]:
A="My Name Is Vijay"
A=A.lower()
print(A)

my name is vijay

In [49]:
def check_vowels(str):
    arr=[]
    vowels_list=[]
    vowels=['a','e','i','o','u']
    '''Input: str takes the string as input
       Output: Store the vowels in vowels_list and return it.'''
    # YOUR CODE GOES HERE
    str=str.lower()
    arr = list(str.split())
    for word in arr:
        for i in range(0,len(word)):
          if word[i] in vowels:
            vowels_list.append(word[i])
    
    
    return vowels_list

print(check_vowels("qwrt"))

[]

In [18]:
str1="deabc"
str2="bcdeaa"
new_str2=""
op="Not Same"
#print(B.join(A))

for i in range(len(str2)-1):
  str2=list(str2)
  str2.append(str2[0])
  str2.pop(0)
  str2=''.join(str2)
  print(str1, str2)
  if (str1==str2):
    op="Same"
    exit

print(op)
#print(str2)
#print(str2)
#print(B.join(str2))
#print(B)
#print(str1==B)

deabc cdeaab
deabc deaabc
deabc eaabcd
deabc aabcde
deabc abcdea
Not Same

In [24]:
lis = [(0, 2), (1, 3), (2, 4)]
result = sum (n for n,_ in lis)
print(result)

3

In [34]:
str="abcde"
a=set(str)
a="".join(a)
print(a)

cbdae

In [41]:
sampleDict = { "class":{ "student":{ "name":"Mike", "marks":{ "physics":70, "history":80 } } } }
print(sampleDict['class']['student']['marks']['history'])
print(sampleDict['class']['student']['marks'][1])
#asas={"a":1,"b":4,"c":5,"d":6}
#print(asas['b'])

80

KeyError: ignored

In [51]:
D={'a': 1, 'b':2}
for i in D.keys():
  D[D[i]]=i
print(D)

RuntimeError: ignored

In [63]:
D={'a': 1, 'b':2}
for k,v in D.items():
  D=v:k
  print(k,v)
print(D)

SyntaxError: ignored

In [60]:
D={'a': 1, 'b':2}
D = {v: k for k, v in D.items()}
print(D)

{1: 'a', 2: 'b'}

In [73]:
S=['M2004Sam','F1001Sam']
Entry=[]
for i in range(len(S)):
  a=int(S[i][1:5])
  if (2022-a)>18:
    Entry.append('Entry for you')
  else:
    Entry.append('No Entry for you')
print(Entry)

['No Entry for you', 'Entry for you']

In [76]:
my_string="wqewewidfoppu"
k = [i for i in my_string if i not in "aeiou"] 

print(k)

['w', 'q', 'w', 'w', 'd', 'f', 'p', 'p']

In [23]:
A=[{'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]}, 'B']
#Scores=[('A','B''C'),(4,5,6),(7,8,9)]
names=['A','B','C']
runs=[25,50,10]
wickets=[3,5,4]
bowls=[7,12,3]
result=names[0]
dict={}

#for n,r,w,b in names,runs,wickets,bowls:
#  print(n,r,w,b)

for i in range(len(names)):
  print(names[i],runs[i],wickets[i],bowls[i])
  dict[names[i]]=[runs[i],wickets[i],bowls[i]]
  if (runs[i]/bowls[i])>4 and wickets[i]>2:
    result=names[i]
  elif (runs[i]/bowls[i])<4 and wickets[i]>4:
    result=names[i]

op=[dict,result]
print(op)


#Nihal 50 5 12
#Sanjay 10 4 3

A 25 3 7
B 50 5 12
C 10 4 3
[{'A': [25, 3, 7], 'B': [50, 5, 12], 'C': [10, 4, 3]}, 'B']

In [ ]:
result=names[0]
dict={}

#for n,r,w,b in names,runs,wickets,bowls:
#  print(n,r,w,b)

for i in range(len(names)):
  print(names[i],runs[i],wickets[i],bowls[i])
  dict[names[i]]=[runs[i],wickets[i],bowls[i]]
  if (runs[i]/bowls[i])>4 and wickets[i]>2:
    result=names[i]
  elif (runs[i]/bowls[i])<4 and wickets[i]>4:
    result=names[i]

op=[dict,result]
print(op)


#Nihal 50 5 12
#Sanjay 10 4 3

In [55]:
fruits = {'banana':3,'apple':2, 'mango':1, 'kiwi':5}

# Create blank list to append to
fruits_list = []

# Create the for loop
for fruit, quantity in fruits.items():
    # Append the list to the main list
    fruits_list.append([fruit]*quantity)
print(fruits_list)

[['banana', 'banana', 'banana'], ['apple', 'apple'], ['mango'], ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]

In [27]:
def countuniquewords(inp):
    ans = 0
    arr = list(inp.split())
    for word in arr:
        arr2=[]
        print(word)
        print(len(set(word)))
        print(len(word))
        if len(set(word)) == len(word) and len(word) > 3:
        #if len(tuple(word)) == len(word) and len(word) > 3:
          ans += 1
  
    return ans

op=countuniquewords("andww my sister is abcde ttttt vijay")
print(op)

andww
4
5
my
2
2
sister
5
6
is
2
2
abcde
5
5
ttttt
1
5
vijay
5
5
2

In [25]:
def countuniquewords(inp):
    ans = 0
    arr = list(inp.split())
    for word in arr:
      arr2=[]
      print(word)
      print(len(tuple(word)))
      print(len(word))
      if len(tuple(word)) == len(word) and len(word) > 3:
        ans += 1
  
    return ans

op=countuniquewords("andww my sister is abcde ttttt")
print(op)

andww
5
5
my
2
2
sister
6
6
is
2
2
abcde
5
5
ttttt
5
5
4

In [5]:
A=['Jadega','Rahul','Rohit']
B=['Jadega','Rahul','Rohit']
C=['Jadega','Rahul','Rohit']
D=['Jadega','Rahul','Rohit']

A[len(A):]=['Dhoni','Virat']
B+=['Dhoni','Virat']
C+='Dhoni Virat'
D[-1:]=['Dhoni','Virat']
print(A)
print(B)
print(C)
print(D)

['Jadega', 'Rahul', 'Rohit', 'Dhoni', 'Virat']
['Jadega', 'Rahul', 'Rohit', 'Dhoni', 'Virat']
['Jadega', 'Rahul', 'Rohit', 'D', 'h', 'o', 'n', 'i', ' ', 'V', 'i', 'r', 'a', 't']
['Jadega', 'Rahul', 'Dhoni', 'Virat']

In [15]:
def sum_even_odd(n):
    sum_even=0
    sum_odd=0
    for i in range(1,n+1):
        if i%2==0:
            sum_even+=i
        else:
            sum_odd+=i

    return sum_even,sum_odd

print(sum_even_odd(3))

(2, 4)

In [26]:
def perfect_number(n):
    '''input: n = An Integer value 
       output: return 1 if it is perfect number else 0'''
    sum=1
    for i in range(2,(n//2)+1):
        if n%i==0:
            sum+=i
        
    if sum==n:
      return 1
    else:
      return 0

print(perfect_number(-6))

0

In [27]:
print(5//2)

2

In [11]:
def mult(lst):
  prod=1
  for i in range(len(lst)):
    if lst[i]==0:
      return 0
      exit
    else:
      prod=prod*lst[i]

  return prod

A = [1,-1,2,3,4,-5,1,1,1,1,1,1,1,1,32321,4341324]
op=mult(A)
print(op)

16837911960480

In [17]:
for number in range(1, 5) :
  if number == 3:
    break
    print(number)
print("Hello")

Hello

In [25]:
a=12
A=[a]
print(list[(a)])

TypeError: ignored